@model IEnumerable<BooksZone.Models.Product>




<div class="row">
    @foreach (var product in Model)
    {
    <div class="col-md-3 mb-4">
        <div class="card" style="width:250px">
            <img class="card-img-top" src="@product.ImageUrl" alt="Card image" style="width:100%;height:300px">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
                <p class="card-text text-primary">by @product.Author</p>
                <p class="card-text">Price: <b>@product.Price.ToString("c")</b></p>
                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary form-control">Details</a>
            </div>
        </div>
    </div>
    }
</div>